{{yield}}

{{#if (and sort state)}}
  <span class="sort-direction">{{state-class}}</span>
{{/if}}

{{#if (and (gt sortOrder 0) (gt sorts.length 1))}}
  <span class="sort-order">{{sortOrder}}</span>
{{/if}}
