{{#if componentExist}}
  {{#if showInput}}

    {{component (concat 'filter-input/' propertyType)
      valueChange=valueChange
      filter=filter
      data=filter.property.data
      propertyPath=filter.property.propertyPath
      labelPath=filter.property.labelPath
    }}

  {{/if}}
{{else}}
  <p> No Component was found for this type : {{propertyType}}  (filter-input/)</p>
{{/if}}
